LGA ID: GHCND:USW00014732

In [1]:
import requests
import pandas as pd

token = 'qimPAqjWqvBnnolTSwjYZhgyJsvEXsNi'
headers = {'token':token}
url_base = 'https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND\
&datatypeid=TMIN\
&locationid=ZIP:11371\
&limit=400\
&units=standard'

In [5]:
columns = ['Date', 'Minimum Temperature', 'Station']
data = pd.DataFrame(columns = columns)

In [6]:
years = ['200'+str(i) if i<10 else '20'+str(i) for i in range(22)]

In [7]:
for year in years:
    url = url_base + '&startdate=' + year + '-01-01' + '&enddate=' + year + '-12-31'
    response = requests.get(url, headers=headers)
    pairs = []
    for item in response.json()['results']:
        daily = [item['date'][:10], item['value'], item['station']]
        pairs.append(daily)
    temp_df = pd.DataFrame(pairs, columns=columns)
    data = data.append(temp_df, ignore_index=True)

In [8]:
data

            Date  Minimum Temperature            Station
0     2000-01-01                 35.0  GHCND:USW00014732
1     2000-01-02                 41.0  GHCND:USW00014732
2     2000-01-03                 47.0  GHCND:USW00014732
3     2000-01-04                 45.0  GHCND:USW00014732
4     2000-01-05                 30.0  GHCND:USW00014732
...          ...                  ...                ...
7824  2021-06-03                 61.0  GHCND:USW00014732
7825  2021-06-04                 64.0  GHCND:USW00014732
7826  2021-06-05                 66.0  GHCND:USW00014732
7827  2021-06-06                 76.0  GHCND:USW00014732
7828  2021-06-07                 76.0  GHCND:USW00014732

[7829 rows x 3 columns]

In [20]:
data.to_pickle('lga_min_temp_2000-2021.pkl')